:root {

    --primary-color:#834ed2;
    --h1-color:#8c2e50;
    --box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    


}

body {
    font-family: sans-serif;
    padding: 0 20px;
    color: var(--primary-color);
    border: 2px solid blue;
    box-shadow: var(--box-shadow);
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
  }
  
  h1 {
    text-align: center;
    color: var(--h1-color);
    font-weight: 900;
    margin: 0;
    font-size: 34px;
    line-height: 48px;
    border: 4px solid green;
    border-radius: 9px;
    box-shadow: var(--box-shadow);
  }
  

  h2, h3 {
    color: #231d3c;
  }


  
  .logo {
    display: block;
    margin: 30px auto;
    width: 150px;
  }

  