:root {

    --primary-color:#834ed2;
    --secondery-color: grey;

    --h1-color:black;
    --box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    
}

body {
    font-family: sans-serif;
    padding: 0 20px;
    color: var(--primary-color);
    border: 2px solid blue;
    box-shadow: var(--box-shadow);
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  }
  
  h1 {
    text-align: center;
    color: var(--h1-color);
    font-weight: 900;
    margin: 0;
    font-size: 34px;
    line-height: 48px;
    border: 4px solid green;
    border-radius: 9px;
    box-shadow: var(--box-shadow);
  }
  h2 {
    text-align: center;
  }

  h3 {
    color: var(--secondery-color)
  }


  
  .logo {
    display: block;
    margin: 30px auto;
    width: 150px;
  }
  .cities {
    display: flex;
    justify-content: space-evenly ;
   
  }
  .city
  {
   flex: 1;
    border: 2px solid blue;
    padding: 20px;

  }
  .challenge-1 {
   
  display: flex;

  }
  .challenge-2 {
    justify-content:flex-end;
    display: flex;
  }

  .challenge-3 {
    display: flex;
    justify-content: space-evenly ;

  }

  .challenge-4 {
    display: flex;
    justify-content: space-evenly ;
    border: 1px solid gray;
  }
  .color {
  flex: 1;
  border: 2px solid blue;
  padding: 20px;
  text-align: center;
  }

  